body {
  background-color: #012B37;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  margin-inline: auto;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 2em;
  font-weight: bold;
  padding-left: 1em;
}

.App-body {
  align-items: top;
  margin-inline: auto;
  place-content: center;
}

/**** Search field area *****/

.searchbar {
  display: grid;
  place-content: center;
  margin-bottom: 0.1em;
}

.searchbox {
  min-width: 20rem;
  max-width: 30rem;
}

.form-check-input:checked {
  background-color: #B54139;
  border-color: #8f221b;
}

/**** Pagination area ****/

.pagination {
  place-items: center;
  place-content: center;
  gap: 0.5rem;
  /* padding: 1rem; */
  padding-bottom: 1rem;
}
.rowcount {
  padding-inline: 1rem;
}
.pagecout {
  width: fit-content;
}
.pagination > button {
  min-width: 7rem;
  padding: 0.2rem;
  border-radius: 10px;
}

/* ---- Layout ---- */
@media (max-width: 659px) { 
  .pagination {
    display: grid;
    grid-template-columns: 1fr fit-content 1fr;
  }
  .rowcount {
    grid-column: span 3;
  }
}
@media (min-width: 660px) {
  .pagination {
    grid-template-columns: 1fr 1fr fit-content 1fr;   
  }
}
/* ---------------- */

/**** Orders table area ****/

.idField {
  font-size: larger;
  font-weight: bold;
  text-align: right;
  align-self: center;
  width: fit-content;
}
.detailsButton {
  place-self: start;
  width: fit-content;
  padding-inline: 1.5rem;
  white-space: nowrap; 
}
.infoCard {
  grid-column: span 2;
  font-size: smaller;
  background: none;
  border: none;
}

/* ---- Layout ---- */
@media (max-width: 659px) {
  .productTable {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.25fr 1.25fr ;
  }
  .idField {
    grid-column: span 3;
    /* grid-column: 1; */
    place-self: end;
    padding-right: 0.5em;
  }
  .detailsButton {
    grid-column: span 3;
    /* grid-column: 3; */
  }
}
@media (min-width: 660px) {
  .productTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.25fr 1.25fr 1fr;
    gap: 1rem;
  }
  .idField {
    grid-column: 1;
    grid-row: span 2;
  }
  .detailsButton {
    grid-column: 8;
    grid-row: span 2;
    align-self: center;
  }
}
/* ---------------- */

.btn-primary {
  background-color: #B54139;
  border-color: #B54139;
  border-radius: 18px;
  font-size: smaller;
  
}

.card-title {
  color: #B54139;
  font-size: 1em;
  font-weight: bold;
}

.card-text {
  line-height: normal;
  list-style-type: none;
}

/* TODO: Button coloring not quite working. It still becomes blue when button is pressed. */

.btn-primary:focus-within,
.btn-primary:focus-visible,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #8f221b;
  border-color: #55130e;
}

.btn-primary:active {
  background-color: #55130e;
  border-color: #B54139;
  border: 1px;
  color: #8f221b;
}

.orderDetails {
  display: grid;
  place-content: center;
  min-height: 20rem;
}